@import url("./style.css");

.form-container {
  width: 600px;
  border-radius: 20px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.08);
}

#form-image-url,
#form-image-alt,
#form-tags {
  display: flex;
  width: 300px;
  margin: 10px;
  padding: 5px;
}
