:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --bs-body-bg: #121212;
  --bs-body-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.377);
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.post-container,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  height: 550px;
  margin: 20px;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0 4px 14px rgba(255, 255, 255, 0.377);
  gap: 0.75rem;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.post-container:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
}

.post-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  order: 2;
}
.post {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  width: 600px;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(255, 255, 255, 0.377);
}

.profile-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 10px;
  padding: 10px;
}
.profile-card {
  border-radius: 10px;
  padding: 10px;
  background-color: #1a1a1a;
  color: #fff;
}
.post-single-image {
  width: 400px;
  object-fit: contain;
}
.post h2,
.post p {
  padding: 10px 0 10px 0;
}

.tags {
  text-decoration: underline;
  padding: 5px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  border: 1px rgba(255, 255, 255, 0.377) solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
a:hover {
  color: #535bf2;
}
.post-container a {
  margin-top: auto;
  width: 400px;
  order: 3;
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}
/* Login and register styling */
.login {
  display: flex;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #fff;
  padding: 2em;
  border: #000 solid 2px;
}

.login-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 30px;
}
.email,
.password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}
.login-details label {
  font-size: large;
  padding: 5px;
}

.login-details input {
  height: 30px;
  padding: 5px;
}
.fa-key,
.fa-envelope {
  font-size: 1.2em;
  align-content: center;
}
.social-title {
  padding: 10px;
  margin: 5px;
}
.social-login {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}
.social-buttons {
  border-radius: 10px;
  gap: 5px;
  padding: 7px;
  width: 130px;
  display: flex;
  flex-direction: row;
}

.social-btn {
  padding: 5px;
}

.fa-brands {
  padding: 8px;
}
.signup-wrapper {
  padding: 2em;
}

#edit-form,
#register-form {
  border: #000 solid 2px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px auto;
  gap: 10px;
}

#form input {
  height: 30px;
  width: 250px;
  background-color: #fff;
  color: #000;

  font-size: 1rem;
  margin: 5px;
}
#form input:hover {
  transform: scale(1.04);
}
#form label {
  margin-left: 5px;
  font-size: 1.3rem;
}
/* #form input:last-of-type {
  margin-bottom: 15px;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Modal styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal h2 {
  padding: 10px;
}
.modal.hidden {
  display: none;
}

.modal-content {
  background: black;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 6px solid rgb(40, 40, 255);
}

#closeModal {
  width: 100px;
  height: 40px;
  margin: 10px auto 0 auto;
  background-color: rgb(40, 40, 255);
  color: #fff;
  border: none;
}
